.carouselContainer {
  position: relative;
  width: 100%;

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: fit-content;

    background: none;
    border: none;
    color: map-get($colors, "dark2");

    font-size: 2rem;

    &:first-of-type {
      left: 0;
    }
  }

  .disabled {
    display: none;
  }

  .carouselMobile {
    display: flex;
    gap: 20px;
    padding: 0 15px;
    padding-top: 15px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
