footer {
  color: map-get($colors, "light");
  font-size: 0.8rem;
  a {
    color: inherit;
    text-decoration: none;
  }
  .mainContainer {
    background-color: #0d1117;
    @include dflex(space-between, row, start);
    padding: 30px;

    .leftContainer {
      width: 50%;
      img {
        width: 20vw;
        margin-bottom: 30px;
      }
      p {
        color: #8b949e;
      }
    }

    .rightContainer {
      @include dflex(space-between, column, end);
      gap: 10px;
    }
  }

  .secondaryContainer {
    background-color: #13171d;
    color: map-get($colors, "dark2");
    text-align: end;
    padding: 15px 30px;
  }

  @include pc() {
    .mainContainer {
      padding-bottom: 15px;
      padding-right: 15%;

      .leftContainer {
        img {
          width: 10vw;
        }
      }

      .rightContainer {
        align-items: start;
        padding-top: 15px;
      }
    }

    .secondaryContainer {
      padding-right: 15%;
    }
  }
}
