.navPc {
  display: none;
  @include pc {
    @include dflex(space-between, row);
  }
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: map-get($colors, "light");

  padding: 15px 15%;

  img {
    width: 20%;
  }

  .linkContainer {
    @include dflex(space-evenly, row);
    gap: 35px;
    a {
      white-space: nowrap;
      text-decoration: none;
      color: inherit;
      font-weight: 600;
      font-size: 1rem;
    }
    .trialLink {
      color: map-get($colors, "primary");
      font-style: italic;
    }
  }
}

.mobileNav {
  @include pc {
    display: none;
  }
  @include dflex(space-between, row);
  padding: 5%;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: map-get($colors, "light");

  .mobileNav__Logo {
    @include dflex(center, column, end);
    width: 30%;
    text-decoration: none;
    img {
      width: 100%;
    }
    @include tablet {
      width: 15%;
    }
  }
  @include tablet {
    padding: 2.5%;
  }

  .mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70vw;
    z-index: 2;
    background-color: #fefefef2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 5%;

    transition: 0.3s;

    &--closed {
      transform: translateX(-100%);
    }

    &__Link {
      color: map-get($colors, "dark2");
      text-decoration: none;
      width: 80%;
      border-bottom: map-get($colors, "dark2") 1px solid;
      border-bottom: #6a6a6a 1px solid;
      padding: 5% 0;

      &:last-child {
        border-bottom: none;
      }

      &--Highlight {
        font-style: italic;
        color: map-get($colors, "primary");
      }

      &Container {
        @include dflex();
      }
    }

    &__Button {
      border: none;
      font-size: 1.5rem;
      z-index: 3;
      background: none;
      &--Open {
        color: map-get($colors, "dark2");
        z-index: 1;
      }
      &--Close {
        color: map-get($colors, "primary");
        width: 100%;
        padding-left: 5vw;
        margin-bottom: 30%;
        @include dflex(start, row);
      }
    }

    &__Bottom {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      @include dflex(space-between, row, end);
      &Text {
        color: map-get($colors, "dark2");
        font-size: 0.7rem;
      }
      &Logo {
        opacity: 80%;
        width: 25%;
      }
    }
  }

  .menuMask {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}
