.tshirtForm {
  background-color: #eeeeee;
  border-radius: 20px;
  padding: 15px;
  padding-top: 7.5vh;
  margin: 5vh 30px;
  position: relative;

  .getTshirt {
    width: 30vw;
    position: absolute;
    top: -5%;
    left: 60%;
  }

  .inputsContainer {
    margin-bottom: 15px;
    & > *:not(:first-child) {
      margin-top: 15px;
    }

    .input {
      @include dflex(space-between, column, start);
      gap: 5px;
      label {
        font-size: 0.6rem;
        color: map-get($colors, "dark2");
      }
      input,
      textarea,
      select {
        width: 100%;
        border: none;
        background-color: #d9d9d9;
        color: map-get($colors, "dark2");
        padding: 5px;
        outline: none;
      }
      textarea {
        resize: none;
      }
    }

    .tshirtInputs {
      @include dflex(space-between, row);
      input {
        text-align: center;
      }
      .input {
        min-width: 45%;
      }
    }

    .shippingNotice {
      margin-top: 15px;
      color: #9a9a9a;
      font-style: italic;
      font-size: 0.8rem;
      text-align: center;
    }
  }

  .button {
    min-width: 65%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
  }

  .sendButtonContainer {
    p {
      font-size: 0.8rem;
      color: map-get($colors, "dark2");
      text-align: center;
      margin-bottom: 10px;
    }
    .button--outline {
      color: map-get($colors, "primary");
    }
    .error {
      font-size: 0.8rem;
      color: rgb(244, 64, 64);
    }
  }

  @include tablet() {
    @include dflex(end, row, end);
    padding-left: 5%;
    padding-top: 15px;
    gap: 30px;

    .getTshirt {
      width: 10vw;
      position: absolute;
      top: -7.5%;
      left: 92.5%;
    }

    .inputsContainer {
      @include dflex(space-around, row, center);
      column-gap: 2.5%;
      flex-wrap: wrap;
      width: 75%;
      margin-bottom: 0;

      .input,
      .tshirtInputs,
      .shippingNotice {
        width: 45%;
      }

      & > :nth-child(2) {
        margin-top: 0;
      }
    }

    .sendButtonContainer {
      width: 15%;
      @include dflex(end, row);
      .button {
        width: 100%;
        padding: 10px;
        transform: none;
        position: static;
      }
    }
  }
}
