.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pre-wrap {
  white-space: pre-wrap;
}

* {
  font-family: "Inter", sans-serif;
}

.nav {
  display: none;
  width: 100%;
  padding: 2% 5%;
}
@media (min-width: 1024px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.nav__Logo {
  width: 20%;
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}
.nav__Logo img {
  width: 100%;
}
.nav__LinkContainer {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav__Link {
  color: black;
  text-decoration: none;
  padding: 10px;
  transition: 0.1s;
}
.nav__Link:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.nav__Link--disabled {
  color: black;
  text-decoration: none;
  padding: 10px;
  color: rgb(208, 208, 208);
  cursor: default;
}
.nav__Sublink {
  width: 100%;
  height: 50%;
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: white;
}
.nav__SublinkContainer {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: -198%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 20vw;
  height: 200%;
}
.nav__Sublink:hover {
  background-color: rgb(245, 245, 245);
  color: black;
}

.mobileNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: white;
}
@media (min-width: 1024px) {
  .mobileNav {
    display: none;
  }
}
.mobileNav .mobileNav__Logo {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 30%;
  text-decoration: none;
}
.mobileNav .mobileNav__Logo img {
  width: 100%;
}
.mobileNav .mobileNav__Logo span {
  font-size: 0.6rem;
  color: black;
}
.mobileNav .mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70vw;
  z-index: 2;
  background-color: rgba(254, 254, 254, 0.9490196078);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10%;
  padding-bottom: 5%;
  transition: 0.3s;
}
.mobileNav .mobileMenu--closed {
  transform: translateX(-100%);
}
.mobileNav .mobileMenu__Link {
  color: #6a6a6a;
  text-decoration: none;
  width: 80%;
  border-bottom: #6a6a6a 1px solid;
  border-bottom: #6a6a6a 1px solid;
  padding: 5% 0;
}
.mobileNav .mobileMenu__Link:last-child {
  border-bottom: none;
}
.mobileNav .mobileMenu__Link--Highlight {
  font-style: italic;
  color: #f7941e;
}
.mobileNav .mobileMenu__LinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mobileNav .mobileMenu__Button {
  border: none;
  font-size: 1.5rem;
  z-index: 3;
  background: none;
}
.mobileNav .mobileMenu__Button--Open {
  color: #6a6a6a;
  z-index: 1;
}
.mobileNav .mobileMenu__Button--Close {
  color: #f7941e;
  width: 100%;
  padding-left: 5vw;
  margin-bottom: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.mobileNav .mobileMenu__Bottom {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}
.mobileNav .mobileMenu__BottomText {
  color: #6a6a6a;
  font-size: 0.7rem;
}
.mobileNav .mobileMenu__BottomLogo {
  opacity: 80%;
  width: 25%;
}
.mobileNav .menuMask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

footer {
  background-color: #0d1117;
  color: white;
}
footer .mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  padding: 3%;
}
footer .mainContainer .leftContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
}
footer .mainContainer .leftContainer img {
  width: 75%;
}
footer .mainContainer .leftContainer .button {
  border: #8b949e solid 1px;
  border-radius: 0.75rem;
  font-weight: bold;
}
footer .mainContainer .leftContainer .primaryText {
  color: #dcedff;
}
footer .mainContainer .leftContainer .secondaryText {
  color: #8b949e;
}
footer .mainContainer .rightContainer {
  width: 35vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  flex-shrink: 0;
}
footer .mainContainer .rightContainer a {
  text-decoration: none;
  color: white;
}
footer .secondaryContainer {
  background-color: #13171d;
  padding: 2%;
}
footer .secondaryContainer p {
  color: #8b949e;
}

@media (min-width: 768px) {
  footer .mainContainer {
    padding-right: 0;
  }
  footer .mainContainer .leftContainer img {
    width: 25%;
  }
  footer .mainContainer .rightContainer {
    gap: 15px;
  }
  footer .secondaryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 2% 0;
  }
  footer .secondaryContainer p {
    width: 35vw;
    padding-right: 3%;
  }
}
.button {
  border-radius: 11px;
  text-decoration: none;
  padding: 15px 25px;
  font-size: 0.8rem;
  transition: 0.1s;
  cursor: pointer;
  color: white;
}
.button--solid {
  background-color: #f7941e;
  border: solid 2px #f7941e;
}
.button--solid:hover {
  background-color: white;
  color: #f7941e;
}
.button--light {
  background-color: white;
  border: solid 2px #f7941e;
  color: black;
  padding: 9px;
}
.button--outline {
  background-color: transparent;
  border: solid 2px #f7941e;
  color: black;
}

.carouselContainer {
  position: relative;
  width: 100%;
}
.carouselContainer button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: fit-content;
  background: none;
  border: none;
  color: #6a6a6a;
  font-size: 2rem;
}
.carouselContainer button:first-of-type {
  left: 0;
}
.carouselContainer .disabled {
  display: none;
}
.carouselContainer .carouselMobile {
  display: flex;
  gap: 20px;
  padding: 0 15px;
  padding-top: 15px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.carouselContainer .carouselMobile::-webkit-scrollbar {
  display: none;
}

.carouselAndBtnContainer {
  display: none;
}
@media (min-width: 768px) {
  .carouselAndBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
  }
  .carouselAndBtnContainer button {
    width: 5vw;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
  }
  .carouselAndBtnContainer .carouselContainer {
    width: 80vw;
    height: 40vw;
    overflow: hidden;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper {
    display: flex;
    position: relative;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper img {
    transition: left 0.3s ease, right 0.3s ease, top 0.3s ease, height 0.3s ease;
    position: absolute;
    object-fit: cover;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.28);
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .active {
    height: 35vw;
    max-width: 35vw;
    left: 22.5vw;
    z-index: 3;
    top: 2.5vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .inactiveLeft,
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .inactiveRight {
    height: 30vw;
    max-width: 30vw;
    z-index: 2;
    top: 5vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .inactiveLeft {
    left: 15vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .inactiveRight {
    left: 35vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .secondInactiveRight,
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .secondInactiveLeft {
    height: 25vw;
    max-width: 25vw;
    z-index: 1;
    top: 7.5vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .secondInactiveLeft {
    left: 7.5vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .secondInactiveRight {
    left: 47.5vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .thirdInactiveRight,
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .thirdInactiveLeft {
    height: 20vw;
    max-width: 20vw;
    z-index: 0;
    top: 10vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .thirdInactiveLeft {
    left: 0;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .thirdInactiveRight {
    left: 60vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .inactive {
    width: 0;
  }
}

.trialForm {
  background-color: white;
  border-radius: 20px;
  padding: 15px 30px;
}
.trialForm .titles {
  margin-bottom: 15px;
}
.trialForm .titles p {
  font-size: 0.8rem;
  color: #6a6a6a;
}
.trialForm .inputsContainer {
  margin-bottom: 30px;
}
.trialForm .inputsContainer > *:not(:first-child) {
  margin-top: 15px;
}
.trialForm .inputsContainer .input {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 5px;
}
.trialForm .inputsContainer .input label {
  font-size: 0.6rem;
  color: #6a6a6a;
}
.trialForm .inputsContainer .input input,
.trialForm .inputsContainer .input textarea,
.trialForm .inputsContainer .input select {
  width: 100%;
  border: none;
  background-color: #d9d9d9;
  color: #6a6a6a;
  padding: 5px;
  outline: none;
}
.trialForm .inputsContainer .input textarea {
  resize: none;
}
.trialForm .inputsContainer .dateTimeInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.trialForm .inputsContainer .dateTimeInputs input {
  text-align: center;
}
.trialForm .button {
  min-width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.trialForm .sendButtonContainer p {
  font-size: 0.8rem;
  color: #6a6a6a;
  text-align: center;
  margin-bottom: 10px;
}
.trialForm .sendButtonContainer .button--outline {
  color: #f7941e;
}
.trialForm .sendButtonContainer .error {
  font-size: 0.8rem;
  color: rgb(244, 64, 64);
}

.home {
  color: #343434;
}
.home > *:not(:nth-child(2)) {
  margin-top: 10vh;
}
.home .section1 {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin: 15px;
  margin-bottom: 0;
  padding: 35px 30px 65% 20px;
  border-radius: 35px;
  background-image: url("/assets/picture/heroMobile.jpg");
  background-size: cover;
  color: #3a3a3a;
}
.home .section1 h2 {
  font-size: 2rem;
  line-height: 2rem;
}
.home .section1 p {
  margin-top: 5px;
  font-size: 0.8rem;
}
.home .section1 .buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 20px;
}
.home .section1 .buttonContainer .button {
  width: 100%;
  text-align: center;
}
.home .section1 .buttonContainer .button--outline {
  color: #3a3a3a;
}
.home .section2 .titles {
  margin: 2.5vh 30px;
  margin-top: 0;
}
.home .section2 .titles p {
  margin-top: 5px;
  font-style: italic;
  font-size: 0.8rem;
  color: #6a6a6a;
}
.home .section2 .card {
  background-color: #eeeeee;
  padding: 25px 15px;
  border-radius: 20px;
  flex: 0 0 90%;
  height: fit-content;
  scroll-snap-align: center;
}
.home .section2 .card > *:not(:first-child) {
  margin-top: 2.5vh;
}
.home .section2 .card .imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25vh;
  background-color: #201c1c;
  border-radius: 20px;
}
.home .section2 .card .imgContainer img {
  height: 100%;
  border-radius: 20px;
}
.home .section2 .card p {
  font-size: 0.8rem;
  color: #6a6a6a;
}
.home .section2 .card .appContainer {
  position: relative;
}
.home .section2 .card .appContainer img {
  position: absolute;
  height: 130%;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.home .section3 {
  background: url("/assets/picture/chickensMobile.jpg");
  background-size: cover;
  padding: 50px 15%;
  color: white;
}
.home .section3 h2 {
  text-align: center;
  margin-bottom: 5vh;
}
.home .section3 .benefitsContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}
.home .section3 .benefitsContainer article {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.home .section3 .benefitsContainer article img {
  height: 10vh;
}
.home .section3 .benefitsContainer article p {
  text-align: center;
  font-size: 0.8rem;
}
.home .section4 {
  padding: 15px;
  padding-bottom: 30px;
  background-color: grey;
  color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.home .section4 .titles h2 {
  font-weight: 400;
  margin-bottom: 15px;
}
.home .section4 .titles p {
  font-style: italic;
  font-size: 0.8rem;
}
.home .section4 .locationIcon {
  margin-right: 5px;
}
.home .section5 {
  padding: 0 30px;
}
.home .section5 > *:not(:first-child) {
  margin-top: 5vh;
}
.home .section5 h2 {
  text-align: center;
}
.home .section5 h2 a {
  color: inherit;
}
.home .section5 p {
  margin: 0 15px;
  font-size: 0.8rem;
  color: #4a4a4a;
}
.home .section5 .articleContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
  margin-left: 15px;
}
.home .section5 .articleContainer img {
  width: 50%;
  transform: rotate(5deg);
  position: relative;
  left: 40%;
}
.home .section5 .articleContainer .button {
  white-space: nowrap;
}
.home .section6 {
  padding: 30px;
  height: 50vh;
  background-color: grey;
  color: white;
}
.home .section6 h2 {
  width: 75%;
  margin-bottom: 5px;
}
.home .section6 p {
  width: 50%;
  font-size: 0.8rem;
  font-style: italic;
}
.home .section7 h2 {
  text-align: center;
  margin-bottom: 5vh;
}
.home .section7 img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.home .section8 {
  background: url("/assets/picture/sawdustMobile.jpg");
  background-size: cover;
  padding: 45px 30px;
}

.aboutUs {
  background-color: #000000;
  color: white;
}
.aboutUs h1 {
  text-align: center;
  padding: 5vh 0;
  font-weight: 600;
  font-size: 1.5rem;
}
.aboutUs .teamPhotoContainer {
  position: relative;
}
.aboutUs .teamPhotoContainer .teamPhoto {
  width: 100%;
}
.aboutUs .teamPhotoContainer::after {
  content: "";
  display: block;
  width: 100%;
  height: 5vh;
  position: absolute;
  inset: 0;
  top: calc(100% - 5vh);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.693) 80%, rgb(0, 0, 0) 100%);
}
.aboutUs .section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 7.5vh 10%;
  text-align: center;
  gap: 2.5vh;
}
.aboutUs .section1 img {
  width: 25vw;
}
.aboutUs .section1 .weAre {
  margin-top: 7.5vh;
}
.aboutUs .section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12.5vh 10%;
  gap: 1.5vh;
}
.aboutUs .section2 p {
  color: rgb(182, 182, 182);
  text-align: center;
  font-size: 0.75rem;
}
.aboutUs .section2 .button {
  text-decoration: underline;
}
.aboutUs .section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  padding-bottom: 7.5vh;
  gap: 5vh;
}
.aboutUs .section3 h2 {
  font-weight: 600;
}
.aboutUs .section3 .title {
  display: none;
}
.aboutUs .section3 img {
  width: 100%;
}
.aboutUs .section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 7.5vh 0;
}
.aboutUs .section4 img {
  width: 100%;
}

@media (min-width: 768px) {
  .aboutUs h1 {
    padding-top: 10vh;
  }
  .aboutUs .section1 {
    padding: 7.5vh 25%;
  }
  .aboutUs .section1 img {
    width: 15vh;
  }
  .aboutUs .section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12.5vh 25%;
  }
  .aboutUs .section3 {
    padding: 7.5vh 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .aboutUs .section3 .titleMobile {
    display: none;
  }
  .aboutUs .section3 .text {
    flex-shrink: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 2.5vh;
    font-size: 0.75rem;
  }
  .aboutUs .section3 .text .title {
    display: block;
    font-size: 2rem;
  }
  .aboutUs .section4 {
    flex-direction: row;
    padding-bottom: 0;
  }
  .aboutUs .section4 img {
    height: 50vh;
    object-fit: cover;
  }
}
.contactPage {
  background-image: url(/assets/picture/apelieOfficeMobile.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactPage .contactFormContainer {
  background-color: white;
  width: 80%;
  padding: 5%;
  border-radius: 0.75rem;
}
.contactPage .contactFormContainer h1 {
  font-size: 1.5rem;
}
.contactPage .contactFormContainer .line {
  border-bottom: 2px solid;
  width: 15%;
  margin: 5% 0;
}
.contactPage .contactFormContainer .contactForm .inputContainer {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin: 3vh 0;
  gap: 5px;
}
.contactPage .contactFormContainer .contactForm .inputContainer input,
.contactPage .contactFormContainer .contactForm .inputContainer textarea {
  width: 100%;
  background-color: #d9d9d9;
  border: none;
  padding: 5px;
}
.contactPage .contactFormContainer .contactForm .inputContainer textarea {
  height: 15vh;
}

@media (min-width: 1024px) {
  .contactPage {
    height: auto;
    padding: 20vh 0;
    background-image: url(/assets/picture/apelieOffice.jpg);
    background-size: cover;
  }
  .contactPage .contactForm {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: "name email" auto "phone country" auto "message message" auto "submit submit" auto/1fr 1fr;
    column-gap: 5vw;
  }
  .contactPage .contactForm .name {
    grid-area: name;
  }
  .contactPage .contactForm .email {
    grid-area: email;
  }
  .contactPage .contactForm .phone {
    grid-area: phone;
  }
  .contactPage .contactForm .country {
    grid-area: country;
  }
  .contactPage .contactForm .message {
    grid-area: message;
  }
  .contactPage .contactForm .message textarea {
    height: 25vh;
  }
  .contactPage .contactForm .button {
    grid-area: submit;
    justify-self: self-start;
  }
  .contactPage .contactForm .inputContainer {
    width: 100%;
  }
}
.errorPage {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

/*# sourceMappingURL=App.css.map */
