.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pre-wrap {
  white-space: pre-wrap;
}

* {
  font-family: "Inter", sans-serif;
}

.navPc {
  display: none;
  padding: 25px 15%;
}
@media (min-width: 1024px) {
  .navPc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.navPc img {
  width: 25%;
}
.navPc .linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 35px;
}
.navPc .linkContainer a {
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}
.navPc .linkContainer .trialLink {
  color: #f7941e;
  font-style: italic;
}

.mobileNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: white;
}
@media (min-width: 1024px) {
  .mobileNav {
    display: none;
  }
}
.mobileNav .mobileNav__Logo {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 30%;
  text-decoration: none;
}
.mobileNav .mobileNav__Logo img {
  width: 100%;
}
.mobileNav .mobileNav__Logo span {
  font-size: 0.6rem;
  color: black;
}
.mobileNav .mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70vw;
  z-index: 2;
  background-color: rgba(254, 254, 254, 0.9490196078);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10%;
  padding-bottom: 5%;
  transition: 0.3s;
}
.mobileNav .mobileMenu--closed {
  transform: translateX(-100%);
}
.mobileNav .mobileMenu__Link {
  color: #6a6a6a;
  text-decoration: none;
  width: 80%;
  border-bottom: #6a6a6a 1px solid;
  border-bottom: #6a6a6a 1px solid;
  padding: 5% 0;
}
.mobileNav .mobileMenu__Link:last-child {
  border-bottom: none;
}
.mobileNav .mobileMenu__Link--Highlight {
  font-style: italic;
  color: #f7941e;
}
.mobileNav .mobileMenu__LinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mobileNav .mobileMenu__Button {
  border: none;
  font-size: 1.5rem;
  z-index: 3;
  background: none;
}
.mobileNav .mobileMenu__Button--Open {
  color: #6a6a6a;
  z-index: 1;
}
.mobileNav .mobileMenu__Button--Close {
  color: #f7941e;
  width: 100%;
  padding-left: 5vw;
  margin-bottom: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.mobileNav .mobileMenu__Bottom {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}
.mobileNav .mobileMenu__BottomText {
  color: #6a6a6a;
  font-size: 0.7rem;
}
.mobileNav .mobileMenu__BottomLogo {
  opacity: 80%;
  width: 25%;
}
.mobileNav .menuMask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

footer {
  color: white;
  font-size: 0.8rem;
}
footer a {
  color: inherit;
  text-decoration: none;
}
footer .mainContainer {
  background-color: #0d1117;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding: 30px;
}
footer .mainContainer .leftContainer {
  width: 50%;
}
footer .mainContainer .leftContainer img {
  width: 20vw;
  margin-bottom: 30px;
}
footer .mainContainer .leftContainer p {
  color: #8b949e;
}
footer .mainContainer .rightContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
}
footer .secondaryContainer {
  background-color: #13171d;
  color: #6a6a6a;
  text-align: end;
  padding: 15px 30px;
}
@media (min-width: 1024px) {
  footer .mainContainer {
    padding-bottom: 15px;
    padding-right: 15%;
  }
  footer .mainContainer .leftContainer img {
    width: 10vw;
  }
  footer .mainContainer .rightContainer {
    align-items: start;
    padding-top: 15px;
  }
  footer .secondaryContainer {
    padding-right: 15%;
  }
}

.button {
  border-radius: 11px;
  text-decoration: none;
  padding: 10px 25px;
  font-size: 0.8rem;
  transition: 0.1s;
  cursor: pointer;
  color: white;
  white-space: nowrap;
}
.button--solid {
  background-color: #f7941e;
  border: solid 2px #f7941e;
}
.button--solid:hover {
  background-color: white;
  color: #f7941e;
}
.button--light {
  background-color: white;
  border: solid 2px #f7941e;
  color: black;
  padding: 9px;
}
.button--outline {
  background-color: transparent;
  border: solid 2px #f7941e;
  color: black;
}

.carouselContainer {
  position: relative;
  width: 100%;
}
.carouselContainer button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: fit-content;
  background: none;
  border: none;
  color: #6a6a6a;
  font-size: 2rem;
}
.carouselContainer button:first-of-type {
  left: 0;
}
.carouselContainer .disabled {
  display: none;
}
.carouselContainer .carouselMobile {
  display: flex;
  gap: 20px;
  padding: 0 15px;
  padding-top: 15px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.carouselContainer .carouselMobile::-webkit-scrollbar {
  display: none;
}

.carouselAndBtnContainer {
  display: none;
}
@media (min-width: 768px) {
  .carouselAndBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
  }
  .carouselAndBtnContainer button {
    width: 5vw;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
  }
  .carouselAndBtnContainer .carouselContainer {
    width: 80vw;
    height: 40vw;
    overflow: hidden;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper {
    display: flex;
    position: relative;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper img {
    transition: left 0.3s ease, right 0.3s ease, top 0.3s ease, height 0.3s ease;
    position: absolute;
    object-fit: cover;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.28);
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .active {
    height: 35vw;
    max-width: 35vw;
    left: 22.5vw;
    z-index: 3;
    top: 2.5vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .inactiveLeft,
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .inactiveRight {
    height: 30vw;
    max-width: 30vw;
    z-index: 2;
    top: 5vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .inactiveLeft {
    left: 15vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .inactiveRight {
    left: 35vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .secondInactiveRight,
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .secondInactiveLeft {
    height: 25vw;
    max-width: 25vw;
    z-index: 1;
    top: 7.5vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .secondInactiveLeft {
    left: 7.5vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .secondInactiveRight {
    left: 47.5vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .thirdInactiveRight,
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .thirdInactiveLeft {
    height: 20vw;
    max-width: 20vw;
    z-index: 0;
    top: 10vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .thirdInactiveLeft {
    left: 0;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .thirdInactiveRight {
    left: 60vw;
  }
  .carouselAndBtnContainer .carouselContainer .carouselWrapper .inactive {
    width: 0;
  }
}

.trialForm {
  background-color: white;
  border-radius: 20px;
  padding: 15px 30px;
}
.trialForm .titles {
  margin-bottom: 15px;
}
.trialForm .titles p {
  font-size: 0.8rem;
  color: #6a6a6a;
}
.trialForm .inputsContainer {
  margin-bottom: 30px;
}
.trialForm .inputsContainer > *:not(:first-child) {
  margin-top: 15px;
}
.trialForm .inputsContainer .input {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 5px;
}
.trialForm .inputsContainer .input label {
  font-size: 0.6rem;
  color: #6a6a6a;
}
.trialForm .inputsContainer .input input,
.trialForm .inputsContainer .input textarea,
.trialForm .inputsContainer .input select {
  width: 100%;
  border: none;
  background-color: #d9d9d9;
  color: #6a6a6a;
  padding: 5px;
  outline: none;
}
.trialForm .inputsContainer .input textarea {
  resize: none;
}
.trialForm .inputsContainer .dateTimeInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.trialForm .inputsContainer .dateTimeInputs input {
  text-align: center;
}
.trialForm .button {
  min-width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.trialForm .sendButtonContainer p {
  font-size: 0.8rem;
  color: #6a6a6a;
  text-align: center;
  margin-bottom: 10px;
}
.trialForm .sendButtonContainer .button--outline {
  color: #f7941e;
}
.trialForm .sendButtonContainer .error {
  font-size: 0.8rem;
  color: rgb(244, 64, 64);
}
@media (min-width: 1024px) {
  .trialForm .inputsContainer {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .trialForm .inputsContainer .input,
  .trialForm .inputsContainer .dateTimeInputs {
    width: 30%;
  }
  .trialForm .inputsContainer .input .date,
  .trialForm .inputsContainer .input .time,
  .trialForm .inputsContainer .dateTimeInputs .date,
  .trialForm .inputsContainer .dateTimeInputs .time {
    width: 45%;
  }
  .trialForm .inputsContainer .message {
    width: 60%;
  }
  .trialForm .inputsContainer .sendButtonContainer {
    width: 30%;
  }
  .trialForm .inputsContainer .sendButtonContainer .button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.home {
  color: #343434;
}
.home > *:not(:nth-child(2)) {
  margin-top: 10vh;
}
.home .section1 {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin: 15px;
  margin-bottom: 0;
  padding: 35px 30px 65% 20px;
  border-radius: 35px;
  background-image: url("/assets/picture/heroMobile.jpg");
  background-size: cover;
  color: #3a3a3a;
}
.home .section1 h2 {
  font-size: 2rem;
  line-height: 2rem;
}
.home .section1 p {
  margin-top: 5px;
  font-size: 0.8rem;
}
.home .section1 .buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 20px;
}
.home .section1 .buttonContainer .button {
  width: 100%;
  text-align: center;
}
.home .section1 .buttonContainer .button--outline {
  color: #3a3a3a;
}
@media (min-width: 1024px) {
  .home .section1 {
    height: 90vh;
    padding: 0 15vw;
    padding-right: 50%;
    margin: 0;
    border-radius: 0;
    background-image: url("/assets/picture/heroPc.jpg");
    background-size: cover;
    justify-content: center;
    gap: 10%;
  }
  .home .section1 h2 {
    font-size: 2.2rem;
  }
  .home .section1 p {
    margin-top: 15px;
    font-size: 1rem;
  }
  .home .section1 .buttonContainer {
    flex-direction: row;
  }
  .home .section1 .buttonContainer .button {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .home .section2Container {
    margin-top: 0;
  }
}
.home .section2Container .section2 .titles {
  margin: 2.5vh 30px;
  margin-top: 0;
}
.home .section2Container .section2 .titles p {
  margin-top: 5px;
  font-style: italic;
  font-size: 0.8rem;
  color: #6a6a6a;
}
.home .section2Container .section2 .card {
  background-color: #eeeeee;
  padding: 25px 15px;
  border-radius: 20px;
  flex: 0 0 90%;
  height: fit-content;
  scroll-snap-align: center;
}
.home .section2Container .section2 .card > *:not(:first-child) {
  margin-top: 2.5vh;
}
.home .section2Container .section2 .card .imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25vh;
  background-color: #201c1c;
  border-radius: 20px;
}
.home .section2Container .section2 .card .imgContainer img {
  height: 100%;
  border-radius: 20px;
}
.home .section2Container .section2 .card p {
  font-size: 0.8rem;
  color: #6a6a6a;
}
.home .section2Container .section2 .card .appContainer {
  position: relative;
}
.home .section2Container .section2 .card .appContainer img {
  position: absolute;
  height: 130%;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 1024px) {
  .home .section2Container .section2 {
    display: none;
  }
}
.home .section2Container .section2Pc {
  display: none;
  height: 80vh;
  margin-top: 0;
  background-color: #1c1c1c;
  color: white;
  position: relative;
  padding-left: 15vw;
}
@media (min-width: 1024px) {
  .home .section2Container .section2Pc {
    display: block;
  }
}
.home .section2Container .section2Pc > * {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.home .section2Container .section2Pc .textContainer {
  width: 30vw;
  z-index: 2;
  border-left: solid 2px #f7941e;
  padding-left: 15px;
}
.home .section2Container .section2Pc .textContainer > *:not(:first-child) {
  margin-top: 15px;
}
.home .section2Container .section2Pc .textContainer p {
  font-size: 0.8rem;
}
.home .section2Container .section2Pc img {
  width: 45vw;
  position: absolute;
  inset: 0;
  top: calc(100% + 25px);
  left: 40%;
  transform: translateY(-100%);
}
.home .section3 {
  height: fit-content;
  position: relative;
}
.home .section3 iframe {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.home .section3 .contentContainer {
  position: relative;
  z-index: 3;
  padding: 15px;
  padding-bottom: 30px;
  color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.home .section3 .contentContainer .titles h2 {
  font-weight: 400;
  margin-bottom: 10px;
}
.home .section3 .contentContainer .titles p {
  font-style: italic;
  font-size: 0.8rem;
}
.home .section3 .contentContainer .locationIcon {
  margin-right: 5px;
}
.home .section3::before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  height: 50%;
  width: 100%;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.home .section3::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 2;
  height: 50%;
  width: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
@media (min-width: 1024px) {
  .home .section3 {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding: 15vh 15vw;
  }
  .home .section3 iframe {
    width: 65%;
    height: 55vh;
    position: static;
  }
  .home .section3 .contentContainer {
    width: 35%;
    color: black;
    background: none;
    height: fit-content;
  }
  .home .section3 .contentContainer .titles h2 {
    font-weight: 600;
    font-size: 2rem;
  }
  .home .section3 .contentContainer .titles p {
    display: none;
  }
  .home .section3 .contentContainer .location span {
    font-size: 0.8rem;
  }
  .home .section3 .contentContainer .location .locationIcon {
    display: none;
  }
  .home .section3::before, .home .section3::after {
    display: none;
  }
}
.home .section4 {
  background: url("/assets/picture/chickens.jpg");
  background-size: cover;
  padding: 50px 15%;
  color: white;
}
.home .section4 h2 {
  text-align: center;
  margin-bottom: 5vh;
}
.home .section4 .benefitsContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}
.home .section4 .benefitsContainer article {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.home .section4 .benefitsContainer article img {
  height: 10vh;
}
.home .section4 .benefitsContainer article p {
  text-align: center;
  font-size: 0.8rem;
}
@media (min-width: 1024px) {
  .home .section4 {
    background: url("/assets/picture/chickensPc.jpg");
    background-size: cover;
    padding: 50px 25%;
    padding-bottom: 15vh;
  }
  .home .section4 h2 {
    font-weight: 600;
  }
  .home .section4 .benefitsContainer {
    flex-wrap: nowrap;
    gap: 15px;
  }
  .home .section4 .benefitsContainer article {
    width: 20%;
  }
}
.home .section5 h2 {
  text-align: center;
  margin-bottom: 5vh;
}
.home .section5 img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.home .section5 .references {
  display: none;
}
@media (min-width: 1024px) {
  .home .section5 .references {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .home .section5 .references .reference {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.8rem;
  }
  .home .section5 .references .reference .square {
    width: 1rem;
    height: 1rem;
  }
  .home .section5 .references .reference .orange {
    background-color: #dd9b0b;
  }
  .home .section5 .references .reference .purple {
    background-color: #3f5199;
  }
}
.home .section6 {
  height: 50vh;
  color: white;
  position: relative;
}
.home .section6 iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.home .section6 .text {
  position: relative;
  z-index: 3;
  padding: 15px;
}
.home .section6 .text h2 {
  width: 75%;
  margin-bottom: 5px;
}
.home .section6 .text p {
  width: 50%;
  font-size: 0.8rem;
  font-style: italic;
}
.home .section6::before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 50%;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
@media (min-width: 1024px) {
  .home .section6 {
    height: 85vh;
    background-color: black;
  }
  .home .section6::before {
    background: linear-gradient(90deg, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
  }
  .home .section6::after {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 30%;
    background: linear-gradient(270deg, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  }
  .home .section6 .text {
    inset: 0;
    position: relative;
    z-index: 3;
    width: 50%;
    padding-left: 10vw;
  }
  .home .section6 iframe {
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 80%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.home .section7 {
  padding: 0 30px;
}
.home .section7 h2 {
  text-align: center;
}
.home .section7 h2 a {
  color: inherit;
}
.home .section7 .content .middleContainer .text p {
  margin-top: 15px;
  font-size: 0.8rem;
  color: #4a4a4a;
}
.home .section7 .articleContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
  margin-top: 30px;
  margin-left: 15px;
}
.home .section7 .articleContainer img {
  width: 50%;
  transform: rotate(5deg);
  position: relative;
  left: 40%;
}
.home .section7 .articleContainer .button {
  text-align: center;
  width: 45%;
}
.home .section7 .pc {
  display: none;
}
@media (min-width: 1024px) {
  .home .section7 {
    padding: 0 15vw;
  }
  .home .section7 .pc {
    display: block;
  }
  .home .section7 .button {
    display: inline;
  }
  .home .section7 .mobile {
    display: none;
  }
  .home .section7 .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 50px;
  }
  .home .section7 .content .middleContainer {
    width: 65%;
    text-align: center;
  }
  .home .section7 .content .middleContainer .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
    flex-wrap: wrap;
    height: 50vh;
    text-align: start;
  }
  .home .section7 .content .middleContainer .text p {
    width: 45%;
    margin: 0;
  }
  .home .section7 .content .boots {
    width: 17.5%;
  }
  .home .section7 .content .articleContainer {
    margin: 0;
    width: 17.5%;
  }
  .home .section7 .content .articleContainer .article {
    left: 0;
    width: 100%;
  }
  .home .section7 .mobile {
    display: none;
  }
}
.home .section8 {
  background: url("/assets/picture/sawdustMobile.jpg");
  background-size: cover;
  padding: 45px 30px;
}
@media (min-width: 1024px) {
  .home .section8 {
    background: url("/assets/picture/sawdustPc.jpg");
    padding: 15vh 15vw;
  }
}

.aboutUs {
  background-color: #f5f5f5;
  color: #2e2d2d;
  padding-top: 30px;
}
.aboutUs h1 {
  color: #2e2d2d;
  font-size: 1.4rem;
  margin-bottom: 30px;
  text-align: center;
}
.aboutUs .contentContainer {
  padding: 0 30px;
  margin-bottom: 15vh;
}
.aboutUs .contentContainer .pictures {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  row-gap: 45px;
  flex-wrap: wrap;
  margin-bottom: 45px;
}
.aboutUs .contentContainer .pictures article {
  font-size: 0.8rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
.aboutUs .contentContainer .pictures article h3 {
  font-weight: 400;
  font-size: inherit;
}
.aboutUs .contentContainer .pictures article .position {
  font-weight: 700;
}
.aboutUs .contentContainer .pictures article .hq {
  font-style: italic;
}
.aboutUs .contentContainer .text {
  font-size: 0.8rem;
  text-align: center;
}
.aboutUs .contentContainer .text p:not(:last-of-type) {
  margin-bottom: 15px;
}
.aboutUs .supportersContainer {
  padding-bottom: 15vh;
}
.aboutUs .supportersContainer h2 {
  color: #6a6a6a;
  text-align: center;
  font-size: 1.2rem;
}
.aboutUs .supportersContainer button {
  color: #f7941e;
}
.aboutUs .supportersContainer .supporterLogo {
  height: 10vh;
}

.contactPage {
  background-image: url(/assets/picture/chickens2.jpg);
  background-size: cover;
  padding: 15vh 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contactPage .bgMask {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.contactPage .contactFormContainer {
  background-color: white;
  width: 100%;
  padding: 5%;
  border-radius: 0.75rem;
  position: relative;
  z-index: 2;
}
.contactPage .contactFormContainer .titles p {
  font-size: 0.8rem;
  color: #6a6a6a;
}
.contactPage .contactFormContainer .contactForm .inputContainer {
  font-size: 0.8rem;
  color: #6a6a6a;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin: 3vh 0;
  gap: 5px;
}
.contactPage .contactFormContainer .contactForm .inputContainer input,
.contactPage .contactFormContainer .contactForm .inputContainer textarea {
  width: 100%;
  background-color: #d9d9d9;
  border: none;
  padding: 5px;
  color: inherit;
  outline: none;
}
.contactPage .contactFormContainer .contactForm .inputContainer textarea {
  resize: none;
}
.contactPage .contactFormContainer .contactForm .sendButtonContainer p {
  font-size: 0.8rem;
  color: #6a6a6a;
  text-align: center;
  margin-bottom: 10px;
}
.contactPage .contactFormContainer .contactForm .sendButtonContainer .button--outline {
  color: #f7941e;
}
.contactPage .contactFormContainer .contactForm .sendButtonContainer .error {
  font-size: 0.8rem;
  color: rgb(244, 64, 64);
}

@media (min-width: 1024px) {
  .contactPage {
    height: auto;
    padding: 20vh 0;
    background-image: url(/assets/picture/apelieOffice.jpg);
    background-size: cover;
  }
  .contactPage .contactForm {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: "name email" auto "phone country" auto "message message" auto "submit submit" auto/1fr 1fr;
    column-gap: 5vw;
  }
  .contactPage .contactForm .name {
    grid-area: name;
  }
  .contactPage .contactForm .email {
    grid-area: email;
  }
  .contactPage .contactForm .phone {
    grid-area: phone;
  }
  .contactPage .contactForm .country {
    grid-area: country;
  }
  .contactPage .contactForm .message {
    grid-area: message;
  }
  .contactPage .contactForm .message textarea {
    height: 25vh;
  }
  .contactPage .contactForm .button {
    grid-area: submit;
    justify-self: self-start;
  }
  .contactPage .contactForm .inputContainer {
    width: 100%;
  }
}
.errorPage {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

/*# sourceMappingURL=App.css.map */
